<div class="search-container form-group" [formGroup]="searchForm">
    <input type="text" class="search-input form-control" placeholder="Search City" formControlName="city">
    <button class="btn btn-primary" style="color: white;" (click)="searchWeather();">Search</button>
</div>

<!-- show temp -->
 <!-- *ngIf="weather" -->
<div class="row margin-top" *ngIf="weather">

  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Current Temperature</h5>
        <h1 class="card-title">{{ weather.main.temp | temperature:'C' }}</h1>
        <h1 class="card-title">{{ weather.main.temp | temperature:'F' }}</h1>
        <span>Feels Like {{ weather.main.feels_like | temperature: 'C' }}</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Minimum: {{ weather.main.temp_min | temperature:'C'}}, <br> Maximum {{ weather.main.temp_max | temperature:'C'}}</h5>
        <h5 class="card-title">Humidity: {{ weather.main.humidity }}%</h5>
        <h5 class="card-title">Wind: {{ toKmh(weather.wind.speed)}}km/h</h5>
      </div>
    </div>
  </div>

</div>