.search-container {
    display: flex;
    justify-content: space-between;
}
.search-input {
    width: 80% !important;
}
.title {
    color: cadetblue;
}
.margin-top {
    margin-top: 1.3rem !important;
}